.side-menu
  .side-menu__list
    %ul
      %li
        %a
          = icon('fas', 'user-cog')
      %li
        %a
          = icon('far', 'comments')
      %li.move-right
        %a
          = icon('far', 'plus-square')
      %li.move-right-abit
        %a
          = icon('fas', 'exclamation-circle')
