.note-detail__box
  %p Title
  .note-detail__box__inner
    = @note.title
.note-detail__box
  %p Summary
  .note-detail__box__inner
    = @note.content
.note-detail__box
  %p 参考URL
  .note-detail__box__inner
    = @note.url