* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  .side-menu{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #222;
    color: white;
    width: 6.6vw;
    height: 100vh;
    font-size: 30px;
    li{
      margin-bottom: 10px;
      .side-menu__list__btn{
        color: white;
      }
    }
    li.move-right{
      padding-left: 4px;
    }
    li.move-right-abit{
      padding-left: 3px;
    }
    li:hover{
      margin-bottom: 9px;
      border-bottom: 1px solid #00e0ff;
    }
  }
  .side-bar{
    background-color: #333;
    width: 24vw;
    height: 100vh;
    &__header{
      display: flex;
      align-items: center;
      padding-left: calc(2vw);
      background-color: #444;
      width: 24vw;
      height: 15vh;
      &__user-name{
        font-size: 24px;
        margin-left: calc(2vw);
        color: #eee;
      }
    }
  }
  .main-chat{
    background-color: green;
    width: 69.4vw;
    height: 100vh;
    &__header{
      display: flex;
      justify-content: space-between;
      background-color: #333;
      padding-top: 20px;
      padding-left: 20px;
      width: 69.4vw;
      height: 15vh;
      border-bottom: 1px solid lightblue;
      &__left-box{
        &__group-name{
          color: white;
          font-size: 28px;
          margin-bottom: 8px;
        }
        &__members{
          display: flex;
          color: #eee;
          li{
            color: #eee;
            margin-left: 10px;
          }
        }
        &__invited-users{
          display: flex;
          color: #eee;
          li{
            color: #bbb;
            margin-left: 10px;
          }
        }
      }
      &__edit-btn{
        border: 1px solid #00e0ff;
        color: white;
        padding-top: 11px;
        margin-top: 5px;
        margin-right: 50px;
        font-size: 24px;
        height: 60px;
        width: 100px;
        text-align: center;
      }
    }
    &__messages{
      background-color: #999;
      width: 69.4vw;
      height: 73vh;
    }
    &__text-form{
      display: flex;
      align-items: center;
      background-color: #eee;
      width: 69.4vw;
      height: 12vh;
      .search-mode-btns{
        display: flex;
        align-items: center;
        margin-left: 10px;
        li.clipboard-icon{
          font-size: 40px;
          margin-right: 15px;
        }
        li.search-btn{
          font-size: 25px;
        }
        li{
          font-size: 20px;
          margin-left: 10px;
        }
        li:hover{
          border-bottom: 1px solid #222;
        }
      }
      .text_field{
        margin-left: 20px;
        padding: 5px;
        height: 70px;
        border: 1px solid #00c0ff;
        border-radius: 5px;
        width: calc(69.4vw - 310px);
        resize: none;
      }
      .submit-btn{
        border: 2px solid #00c0ff;
        color: #00c0ff;
        line-height: 50px;
        width: 100px;
        text-align: center;
        font-size: 20px;
        margin-right: 20px;
        margin-left: 10px;
      }
    }
  }
}